{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  {% if validlink %}
    <div>
      <p>{% translate 'Your email is verified successfully.' %}</p>
      <a href="{% url 'users:profile' %}">{% translate 'Profile' %}</a>
    </div>
  {% else %}
    <div>
      {% if user.is_authenticated %}
        <p>
          {% translate 'Email verification link was invalid, possibly because it has already been used. Please request a new email verification link.' %}
        </p>
        <form action="{% url 'users:send-email-verification-mail' %}" method="post">
          {% csrf_token %}
          <button type="submit">{% translate 'Verify' %}</button>
        </form>
      {% else %}
        <p>
          {% translate 'Email verification link was invalid, possibly because it has already been used. Please ' %}<a href="{% url 'users:login' %}">{% translate 'login' %}</a> and request a new verification link.
        </p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
